body{
  height: 100%;
  margin: 0;
}

#canvas{
  border: solid black 1px;
  background: white;
}

.chat-box{
  flex: 0 1 auto;
  height: 10rem;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
}

.chat-history{
  flex: 1 1 auto;
  overflow: scroll;
}

.chat-submit{
  flex: 0 1 auto;
  height: 2rem;
  border-top: 1px black solid;
}

.chat-title{
  text-align: center;
  margin: 0;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.friends-list-sidebar{
  flex: 0 1 auto;
  width: 10rem;
  border-left: 1px solid black;
}

.footer{
  flex: 0 1 40px;
  border-top: 1px solid black;
}

.nav-style{
  display: flex;
  align-items: center;
  height: 3rem;
  flex: 0 1 auto;
  border-bottom: 1px solid black;
}

.nav-style > div{
  padding-left: 1rem;
  
}

.signup-login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.signup-login form{
  display: flex;
  flex-direction: column;
}

.lobby{
  flex: 1 1 auto;
  display: flex;
}

.users-online-sidebar{
  flex: 0 1 auto;
  width: 10rem;
  border-right: 1px solid black;
}

.game-and-chat{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.game-list{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.game-list .list-title{
  flex: 0 1 auto;
  align-self: center;
}

.game-list .list-section{
  flex: 1 1 auto;
}

.game-list .game-create{
  flex: 0 1 auto;
  align-self: flex-end;
}

.logout{
  margin-left: auto;
}